
<div class="flex">
  <div class="w6">
    <mat-form-field class="w-100">
      <mat-label>User</mat-label>
      <mat-select [(ngModel)]="user" (selectionChange)="cuandoCambiaUser($event)">
        <mat-option *ngFor="let user of users" [value]="user.id">
          {{ user.first_name }} {{ user.last_name }} ({{ user.username }})
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="flex1 tr pb3 ph3"*ngIf="user">
    <button mat-mini-fab class="mat-mini-fav-d" (click)="moverFechaPivote(-7)">
      <mat-icon>arrow_left</mat-icon>
    </button>
    &nbsp;
    <button mat-mini-fab class="mat-mini-fav-d" (click)="moverFechaPivote(7)">
      <mat-icon>arrow_right</mat-icon>
    </button>
  </div>
</div>

<div>

</div>

<ng-container *ngIf="user">
  <div class="shadow-1 mv2">
    <table class="w-100 collapse">
      <thead>
        <tr>
          <th class="min-w5 bb b--gray pa2">Proyecto</th>
          <th class="min-w5 bb b--gray pa2">Tarea</th>
          <ng-container *ngFor="let dia of tareasUsuario; let idx=index" class="fw5">
            <th *ngIf="idx > 1 && idx < 9" class="fw5 bb b--gray pa2">
              <div>
                {{ dia.nombre }}
              </div>
              <div class="f7 gray tc">
                {{ dia.fecha | myDateFormat:"DD/MM/YYYY" }}
              </div>
            </th>
          </ng-container>
          <th class="bb b--gray tc ph2">Total</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let tukey of listaTareas">
          <tr>
            <td *ngFor="let tarea of tareasUsuario; let idx=index" class="bb b--light-gray">
              <ng-container *ngIf="idx <= 1">
                <div class="f6 ph2">{{ tarea[tukey] }}</div>
              </ng-container>

              <ng-container *ngIf="idx > 1 && idx < 9">
                <input type="number" min="0" [(ngModel)]="tarea[tukey]" class="w-100 tr pa2 bn">
              </ng-container>

              <ng-container *ngIf="idx === 9">
                <div class="tr pr15rem fw7">{{ tarea[tukey] }}</div>
              </ng-container>
            </td>
          </tr>
        </ng-container>
        <tr *ngIf="listaTareas.length !== 0">
          <td colspan="2" class="bb b--light-gray pa2 bg-light-gray fw7">Total</td>
          <ng-container *ngFor="let tarea of tareasUsuario; let idx=index">
            <td *ngIf="idx > 1" class="bb b--light-gray bg-light-gray pv3 pr1 pr15rem tr fw7">
              {{ tarea.total }}
            </td>
          </ng-container>
        </tr>

        <tr *ngIf="listaTareas.length === 0">
          <td colspan="9" class="tc pa3">
            No hay tareas asignadas.
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="w-100 tr pa3">
    <button mat-raised-button class="ph4 pv2" (click)="abrirModal()">Agregar Tarea</button>
    &nbsp;
    <button mat-raised-button class="ph4 pv2" (click)="guardar()">Guardar</button>
  </div>
</ng-container>


<app-modal [mostrar]="mostrarModal" (mostrarChange)="mostrarModal=$event">
  <div class="ph3">
    <mat-form-field class="w-100">
      <mat-label>Proyecto</mat-label>
      <mat-select [(ngModel)]="proyecto">
        <mat-option *ngFor="let proyecto of proyectos" [value]="proyecto.id">
          {{ proyecto.nombre }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Tarea</mat-label>
      <mat-select [(ngModel)]="tarea">
        <mat-option *ngFor="let tarea of tareas" [value]="tarea.id">
          {{ tarea.nombre }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="pv3">
      <button mat-raised-button class="w-100 ph4 pv2" (click)="agregarTarea()">Agregar</button>
    </div>
  </div>
</app-modal>
